/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    color: #000;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: bold;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;
}

    /* Image styles within the table */
    td img {
        max-width: 80px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

/* Button styles */
.btn-primary {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #333;
    }

/* Checkout container styles */
.checkout-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Hai cột bằng nhau */
    gap: 20px;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.customer-info,
.order-summary {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
