.container{
    padding: 50px 0;
}

.divider-row td {
    border-bottom: 1px solid #ddd; /* Đường gạch ngang */
    height: 0; /* Đảm bảo hàng không chiếm không gian dọc */
    padding: 0;
}


.container h3{
    font-weight: bold;
}

form thead th{
    opacity: 0.8;
}

form tbody tr{
    padding: 20px 0;
}

.cart-items {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 0 10px; 
}

    .cart-items th,
    .cart-items td {
        padding: 11px;
        text-align: left; 
    }

thead {
    display: table-header-group;
    border-bottom: 2px solid #000;
}

tbody tr {
    border: 1px solid #ddd; 
}

.cart-item__name {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

    .cart-item__name:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .cart-item__details .product-option {
        font-weight: bold;
    }

.cart-item__quantity-wrapper {
    display: flex;
    align-items: center;
    gap: 5px; /* Khoảng cách giữa các nút */
}

.quantity-btn {
    width: 30px;
    height: 34px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 28px; /* Căn chữ vào giữa */
    border-radius: 4px; /* Bo góc */
}

    .quantity-btn:hover {
        background-color: #e0e0e0; /* Hiệu ứng hover */
    }

.quantity__input {
    width: 50px;
    text-align: center; /* Căn giữa chữ */
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px; /* Bo góc */
    padding: 4px;
}

.cart-item__price-wrapper span{
    font-weight: bold;
    font-size: 20px;
}

.cart-item__remove button{
    border: 1px solid gray;
}

.container p {
}
.btn btn-secondary{
    background-color:white;
    color:black;
}
.cart__warnings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Chiều cao bằng chiều cao màn hình */
    text-align: center; /* Căn giữa chữ */
}

.cart__empty-text {
    font-size: 2rem;
    margin-bottom: 20px;    
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; /* Màu nền đen */
    color: white; /* Màu chữ trắng */
    text-decoration: none;
    border-radius: 5px;
}
.cart-actions .btn-secondary {
    background-color: white;
    color: black;
    border-color: black;
}

.cart-actions .btn-primary {
    background-color: black;
    color: white;
    border-color: black;
}