body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    width: 100%;
    margin: 20px;
    flex-wrap: wrap; /* Đảm bảo các khung có thể gập lại khi cần */
}

.box {
    background-color: #b0e0e6; /* Màu xanh pastel */
    padding: 20px;
    border: 2px solid #4caf50;
    border-radius: 8px;
    width: 45%; /* Chiếm 45% chiều rộng */
    box-sizing: border-box;
    margin-bottom: 20px; /* Khoảng cách giữa các khung */
}

.box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-left {
    font-size: 16px;
}

    .box-left b {
        font-weight: bold;
    }

.box-right b {
    font-size: 20px;
    font-weight: bold;
}

.qr-image {
    width: 200px; /* Kích thước QR */
    margin-top: 20px;
}

.info {
    margin-bottom: 10px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
    }

    .box-right {
        margin-top: 20px;
    }
}
