
@{
    ViewBag.Title = "Index";
}

<h2>Chọn phương thức thanh toán</h2>
<form action="/Checkout/ProcessPayment" method="post">
    <label>
        <input type="radio" name="paymentMethod" value="bank_transfer"> Chuyển khoản ngân hàng
    </label>
    <input type="text" name="bankAccount" placeholder="Nhập tài khoản ngân hàng">

    <label>
        <input type="radio" name="paymentMethod" value="cash"> Thanh toán tiền mặt
    </label>

    <button type="submit">Thanh toán</button>
</form>

@if (ViewBag.Status != null)
{
    <p>@ViewBag.Message</p>
}


