@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/payment/successpayment.css" />
</head>
<div class="success-container">
    <div class="success-icon">
        <img src="https://static.ladipage.net/5ad01a4c58c2cb43196e7531/icon-dat-hang-thanh-cong-09-20221122095214-eyqix.jpg" alt="Success">
    </div>
    <h1>Đặt hàng thành công!</h1>
    <p>Cảm ơn bạn đã mua hàng tại cửa hàng của chúng tôi.</p>
    <p>Chúng tôi sẽ liên hệ bạn để xác nhận đơn hàng và giao hàng trong thời gian sớm nhất.</p>
    <a href="/" class="btn btn-primary">Quay về trang chủ</a>
    
</div>